<header class="row pt-1 pl-1 pr-1">
  <div class="col-1"></div>
  <div class="col-10 text-center">
    <div class="d-none d-sm-block">
      <a class="header-links" routerLink="/about">Joe Spalding</a>
      |
      <a class="header-links" routerLink="/resume">Resume</a>
      |
      <a class="header-links" routerLink="/contact">Contact Me</a>
    </div>
    <div class="navbar navbar-expand-sm d-sm-none">
      <span>Joe Spalding</span>
      <button class="navbar-toggler navbar-hamburger" data-toggle="collapse" data-target="#navbar-toggle-collapse">
        <span id="mobile-menu" class="fa fa-bars "></span>
      </button>
      <div id="navbar-toggle-collapse" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="header-links nav-item" routerLink="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="header-links nav-item" routerLink="/resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="header-links nav-item" routerLink="/contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</header>