<div class="row">

    <div class="col-1"></div>
    <div class="col-10 resume-height-enforcer">
        <div class="d-block d-sm-none">
            Got a widdy-bitty browser? 
            <a href="{{resume.path}}" target="_blank">Click here, I got you!</a>
        </div>
        <object class="resume embed-responsive-item d-none d-sm-block" data="{{resume.path}}" type="resume.mimeType">
            Oops! I can't load my preeeeecious pdf because you don't have a plugin for it! 
            <a href="{{resume.path}}" target="_blank">Click here</a> to view it!
        </object>
    </div>

</div>