
<footer class="row text-center">

    <div class="col-4">
      Contact Info
      <br />
      <app-personalcontactinfo></app-personalcontactinfo>
    </div>
  
  
  
  
    <div class="col-4">
      Social Media
      <br />
        <a href="https://www.linkedin.com/in/joseph-miles-spalding" target="_blank">
          <i class="fa-linkedin footer-fa">L</i>
        </a>
        <a href="https://github.com/joemspalding" target="_blank">
          <i class="fa-github footer-fa">G</i>
        </a>
    </div>
  
  
  
    <div class="col-4">
      Todo: throw error here
    </div>
  
  </footer>